@use 'variables';


@mixin mobile {
    @media (min-width: map-get($map: variables.$breakpoint, $key: sm)) {
        
    }
}

@mixin tablet {
    @media (min-width: map-get($map: variables.$breakpoint, $key: md)) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: map-get($map: variables.$breakpoint, $key: lg)) {
        @content;
    }
}



.container {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }